.section {
    background: none;
}

.section__title {
    padding-top: 5px;
    padding-left: 10px;
}

.section__body {
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (min-width: 600px) {
    .section {
        background: none;
        max-width: 18rem;
        border: 10px;
    }

    .section > img {
        border-radius: 10px;
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .section > img {
        border-radius: 10px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}