.section__title {
    padding-top: 5px;
    padding-left: 10px;
}

.section__body {
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (min-width: 600px) {
    .section {
        background: none;
        max-width: 18rem;
        border: 10px;
    }
}
